{% if page.header%}
  <header role="banner">
      <a href="{{ site.github.url }}/"><img src="{{ site.github.url }}/{{ page.header_xl }}" srcset="{{ site.github.url }}/{{ page.header_sm }} 200w, {{ site.github.url }}/{{ page.header_med }} 641w, {{ site.github.url }}/{{ page.header_large }} 1025w, {{ site.github.url }}/{{ page.header_xl }} 1441w" alt="{{ site.name }} banner image" title="{{ site.name }} banner image" class="center"></a>
  </header>
  
  {% elsif site.header %}
    <header role="banner">
      <a href="{{ site.github.url }}/"><img src="{{ site.github.url }}/{{ site.header_xl }}" srcset="{{ site.github.url }}/{{ site.header_sm }} 200w, {{ site.github.url }}/{{ site.header_med }} 641w, {{ site.github.url }}/{{ site.header_large }} 1025w, {{ site.github.url }}/{{ site.header_xl }} 1441w" alt="{{ site.name }} banner image" title="{{ site.name }} banner image" class="center"></a>
    </header>
  
  {% else %}

{% endif %}
