{% if page.header_image %}
  <header role="banner">
    <a href="{{ root_url }}/"><img src="{{ site.url }}{{ page.header_image }}" alt="{{ site.title }} banner image" title="{{ site.title }} banner image" class="center"></a>
  </header>
  
  {% elsif site.header_image %}
    <header role="banner">
      <a href="{{ root_url }}/"><img src="{{ site.url }}{{ site.header_image }}" alt="{{ site.title }} banner image" title="{{ site.title }} banner image" class="center"></a>
    </header>
  
  {% else %}

{% endif %}
 
